<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <!-- Existing briqpay route -->
        <route id="briqpay" frontName="briqpay">
            <module name="Briqpay_Payments" />
        </route>
        <!-- Override checkout success page -->
        <route id="checkout" frontName="checkout">
            <module name="Briqpay_Payments" />
        </route>
    </router>
</config>
