<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="briqpay" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Briqpay</label>
                
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="test_mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Testmode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="client_id" type="text" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40">
                    <label>Client ID</label>
                    <comment>Client ID, you will get this from Briqpay.</comment>
                </field>
                
                <field id="shared_secret" type="text" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50">
                    <label>Client Secret</label>
                    <comment>The shared secret, you will get this from Briqpay.</comment>
                </field>
                
                <field id="checkout_type" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout Type</label>
                    <source_model>Briqpay\Payments\Model\Config\Source\CheckoutType</source_model>
                    <comment>Select if the checkout is for Consumer or Business.</comment>
                </field>
                
                <field id="terms_conditions_page" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Terms and Conditions Page</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                </field>
                
                <field id="checkout_title" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="80">
                    <label>Payment Method Title</label>
                    <comment>Title for the payment method displayed during checkout.</comment>
                </field>

                <!-- New Advanced Section -->
                <group id="advanced" translate="label" type="fieldset" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Briqpay Advanced Features</label>
                    <comment>This section contains advanced settings for the Briqpay payment module.</comment>
                    
                    <field id="log_level" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Log Level</label>
                        <source_model>Briqpay\Payments\Model\Config\Source\LogLevel</source_model>
                        <comment>Select the level of logging.</comment>
                    </field>

                    <field id="custom_decision" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Custom decision logic</label>
                        <comment>Enabling custom decision triggers an event during the Briqpay decision process, allowing you to perform custom validation and intercept the decision before completion. The custom decision has a 10-second timeout.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field> 
                    
                    <field id="strict_rounding" translate="label comment" sortOrder="120" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Strict rounding</label>
                        <comment>Apply strict rounding by adding a rounding adjustment line to ensure that the total of line items matches the total amount exactly.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="payment_overlay" translate="label comment" sortOrder="130" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Overlay during purchase</label>
                        <comment>Apply overlay around the Briqpay iFrame during purchase.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
