<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <briqpay>
                <payment_action>true</payment_action> <!-- You can use another method like authorize,capture etc.  -->
                <model>Briqpay\Payments\Model\PaymentMethod</model>
                <active>0</active>
                <title>Briqpay</title>
                <custom_decision>0</custom_decision>
                <can_capture>true</can_capture>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <is_gateway>true</is_gateway>
                <can_void>true</can_void>
                <can_cancel>true</can_cancel>
                <can_refund_partial_per_invoice>true</can_refund_partial_per_invoice>
                <can_refund>true</can_refund>
                <order_status>pending_payment</order_status> <!-- Set your default order status -->
                <checkout_title>Payment Methods</checkout_title>
                <strict_rounding>0</strict_rounding>
            </briqpay>
        </payment>
    </default>
</config>
